@import (once) "common/vars";
@import (once) "common/utils";

#header-left {
  width: @header-left-width;
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #fff;

  .wrapper {
    width: 50%;
  }

  .logo {
    margin: 0 auto;
  }

  .bottom {
    float: right;
    text-align: left;
  }

  .title {
    white-space: nowrap;
    margin: 1.5em 0;
    display: inline-block;
  }

  .info {
    border-left: 2px solid @color-yellow;
    span {
      border-left: 2px solid grey;
    }
  }
}

#featured {
  padding: 50px 50px 120px 0;
  text-align: left;
  .clearfix();

  img {
    float: right;
    width: 50%;
  }

  a {
    display: inline-block;
    width: auto;
    margin: 0;
    clear: both;
    float: right;
  }
}

#doing-more {
  position: absolute;
  width: 100%;

  .wrapper {
    margin-right: 20%;
  }

  h3 {
    margin-left: @header-left-width;
  }

  img {
    float: right;
  }
}

#header {
  position: relative;
}

#menu {
  font-size: 1em;
  position: absolute;
  top: 0;
}