*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: roboto;
  font-size: 16px;
  color: @color-text;
}

a, a:visited, a:link {
  color: @color-yellow;
  &, &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}