@font-face {
  font-family: 'roboto';
  src: url('../font/Roboto-Regular-webfont.eot');
  src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular-webfont.woff') format('woff'),
       url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jockeyone';
  src: url('../font/jockeyone-regular-webfont.eot');
  src: url('../font/jockeyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/jockeyone-regular-webfont.woff2') format('woff2'),
       url('../font/jockeyone-regular-webfont.woff') format('woff'),
       url('../font/jockeyone-regular-webfont.ttf') format('truetype'),
       url('../font/jockeyone-regular-webfont.svg#jockey_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chapparal';
  src: url('../font/Chaparral-Pro-Light.eot');
  src: url('../font/Chaparral-Pro-Light.eot?#iefix') format('embedded-opentype'),
       url('../font/Chaparral-Pro-Light.woff') format('woff'),
       url('../font/Chaparral-Pro-Light.ttf') format('truetype'),
       url('../font/Chaparral-Pro-Light.svg#chapparal') format('svg');
  font-weight: normal;
  font-style: normal;
}