#portfolio {
  background: url('../img/dark-dirty-bg.jpg') repeat;
  color: #fff;
  padding: 50px 0;

  .title {
    font-family: chapparal;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;

    .ampersand {
      display: inline-block;
      margin: 0 -5px;
      font-size: .7em;
      vertical-align: text-top;
    }
  }
}